In [8]:
CLIENT_ID = '94feb4d068d34ab19bbb490bdb470cb4'
SECRET = "rvi1q5YPAit7JZd81veKj71fFpC2gsET"
TOKEN = "USIICRrJ0RO43HcCg6Js8agV1K8eBHsimn"
TOKEN_REFRESH_COMMAND = f"curl -u {CLIENT_ID}:{SECRET} -d grant_type=client_credentials https://us.battle.net/oauth/token"
ZULJIN = 61
STORMRAGE = 60

In [9]:
TOKEN_REFRESH_COMMAND

'curl -u 94feb4d068d34ab19bbb490bdb470cb4:rvi1q5YPAit7JZd81veKj71fFpC2gsET -d grant_type=client_credentials https://us.battle.net/oauth/token'

In [52]:
import requests
import pandas as pd
import numpy as np
import copy

In [53]:
base_url = "https://us.api.blizzard.com"
ah_path = "/data/wow/connected-realm/{connectedRealmId}/auctions"
query_params = {
    'namespace': "dynamic-us",
    'locale': "en_US",
    'access_token': TOKEN
}

In [67]:
def get_auctions_for_realm(realm_id):
    full_url = base_url + ah_path.format(connectedRealmId = realm_id)
    resp = requests.get(full_url, params=query_params)
    auction_list = resp.json()['auctions']
    auctions = []
    for auction in auction_list:
        auctions.append({
            'auction_id': auction['id'],
            'item_id': auction['item']['id'],
            'bid': auction['bid'] if 'bid' in auction else np.nan,
            'buyout': auction['buyout'] if 'buyout' in auction else np.nan,
            'quantity': auction['quantity'],
            'time_left': auction['time_left']
        })

    return pd.DataFrame.from_records(auctions)

In [81]:
def get_item_info(item_id):
    qp = copy.copy(query_params)
    qp['namespace'] = 'static-us'
    full_url = base_url + f"/data/wow/item/{item_id}"
    resp = requests.get(full_url, params=qp)
    raw = resp.json()
    item = {
        "id": item_id,
        'sell_price': raw['sell_price'],
        'name': raw['name'],
        'item_class': raw['item_class']['name'],
        'item_subclass': raw['item_subclass']['name'],
        'purchase_price': raw['purchase_price'],
        'ilvl': raw['level'],
        'quality': raw['quality']['name']
    }
    return item

In [88]:
def get_list_of_items(item_ids):
    items = []
    for item_id in item_ids:
        items.append(get_item_info(item_id))
    return pd.DataFrame.from_records(items)

In [83]:
auctions = get_auctions_for_realm(ZULJIN)

In [84]:
auctions.head()

   auction_id  item_id  bid       buyout  quantity time_left
0   422445037   168583  NaN          NaN        17     SHORT
1   422445054   173204  NaN          NaN         3     SHORT
2   422445107   164441  NaN  470000700.0         1     SHORT
3   422445327   182990  NaN  300000000.0         1     SHORT
4   422445378   184801  NaN  900000000.0         1     SHORT

In [89]:
item = get_list_of_items([184801, 182990])

In [90]:
item

,id,sell_price,name,item_class,item_subclass,purchase_price,ilvl,quality
0,184801,1198855,Locke's Essential Scepter,Weapon,Mace,5994279,190,Epic
1,182990,624918,Legionnaire's Bloodstained Sabatons,Armor,Mail,3124591,200,Epic